version: '3.8'

services:
  orderservice-api:
    environment:
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5000:80"

  userservice-api:
    environment:
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5003:80"

  productservice-api:
    environment:
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5002:80"

  gateway-api:
    environment:
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5001:80"

